table {
    width: 100%;
    overflow-x: scroll;
  }
  .mat-elevation-z8{
    overflow-x: scroll;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  img {
    height: 80px;
    border-radius: 20%;
    margin: 10px;
  }
  td, th {
    min-width: 50px;
  }
  
.paginator {
  background-color: #d12424
}
.flex {
display: flex;
}


#paginator.pagination mat-paginator-container {
  display: none;
}

#paginator .mat-paginator-outer-container .mat-paginator-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  width: 100%;
}

#paginator .mat-paginator-outer-container .mat-paginator-container .mat-paginator-range-actions {
  display: none;
  align-items: center;
}
.material-icons{
  margin-right: 10px;
}

tr.mat-header-row {
  /* background-color: #1c430b; */
  height: 56px;
  color: white;
}

/* ::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
/* }  */

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  /* background-color: #1c430b !important; */
} 
.displayNone ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    display: none;
  } 



/* ::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 /* background-color: #1c430b !important;; */
/* } */ */




.mat-sort-header-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  letter-spacing: normal;
  outline: 0;
}

.mat-sort-header-content {
  text-align: center;
  display: flex;
  align-items: center;
}


