<mat-drawer-container class="example-container" >
    <mat-drawer #drawer class="example-sidenav" color="primary"  mode="side" >
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <img *ngIf="showFiller" src="{{yoopee}}">
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
    <router-outlet></router-outlet>
    <!-- <app-home class="home"></app-home> -->
  
  </mat-drawer-container>
