.example-spacer {
    flex: 1 1 auto;
    margin: 0px;
  }

.example-icon{
    background-color: transparent;
    border-color: transparent;
    color: white;
}
body{
  margin: 0px;
}

img{
  max-height: 1rem;
}

.appName{
  color: white;
  margin-left: 10px;
}

.toolBar{
  /* background-color:#1c430b; */
}